:root {
  --black: #101010;
  --white: #222;
  --gray-dark: #111111;
  --gray-light: #E4E5E4;
  --red: #FF3C31;
}

p {
  color: var(--white);
  font-size: 18px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,
p, li {
  color: var(--white);
  line-height: 1.5;
}


h1,h2,h3,h4,h5,h6 {
  color: var(--white);
}

a {
  color: var(--red); 
}

p, pre, ul {
  margin: 0 0 20px !important ;
}

ul {
  color: white;
  padding-left: 30px;
}

ul li,
ol li {
  margin-bottom: 6px;
}

p code,
li code {
  background: #000000;
  border: 1px solid #333;
  color: #00ffd5;
  font-size: 16px;
  padding: 0px 6px;
}

body {
  background: #ddd;
  padding: 0 40px 40px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
}

.nav {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
}

.bad {
  color: red;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: block;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  background: white;
  color: black;
  padding: 8px 12px;
  margin: 6px 6px 6px 0;
  text-decoration: none;
  font-size: 14px;
}
